/node_modules
/public/hot
/public/storage
/public/vendor

/public/fonts
/public/js/app.js
/public/css/app.css

/storage/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.scannerwork/*
*.DS_Store
bootstrap/*

laravel-echo-server.json
laravel-echo-server.lock
/resources/js/app.js

phpdb/*
.well-known/*
/public/phpdb

/singpass/node_modules

chat messages--

id,job_id,_jobs_iuserd,sender_id,receiver_id,message,msg_status(read,unread,pending),created,updated
