<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <section class="signup-step-container">
          <div class="container">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-8">
                      <div class="wizard">
                          <div class="wizard-inner">
                              <div class="connecting-line"></div>
                              <div class="connecting-line green_line"></div>
                              <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active">
                                      <a href="setup-1.html"><span class="round-tab">1 </span> <i>Step 1</i></a>
                                  </li>
                                  <li role="presentation" class="disabled">
                                      <a href="setup-2.html"><span class="round-tab">2</span> <i>Step 2</i></a>
                                  </li>
                                  <li role="presentation" class="disabled">
                                      <a href="setup-3.html"><span class="round-tab">3</span> <i>Step 3</i></a>
                                  </li>
                                  <li role="presentation" class="disabled">
                                      <a href="setup-4.html"><span class="round-tab">4</span> <i>Step 4</i></a>
                                  </li>
                              </ul>
                          </div>

      </section>


 <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script  src="js/script.js"></script>
</body>
</html>